.recipe {
  margin-inline: 12vw;
  display: flex;
  margin-bottom: 10vh;
}
.recipe__filter {
  flex: 1;
}

.recipe__filter h3 {
  margin-bottom: 4vh;
}

.recipe__filter h4 {
  margin-bottom: 2vh;
}

.checkbox input[type="checkbox"] {
  accent-color: #509e2f;
}

.recipe__grid {
  flex: 4;
}

.recipe__recipe-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 290px;
  gap: 1vw;
  border-radius: 15px;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  display: flex;
  flex-direction: column;
}

.card img {
  display: flex;
  width: 289px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 16px;
  align-self: center;
}

#recipi__tag {
  padding-left: 20px;
  color: #a1a1a1;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.card__info-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: -25px !important;
}

.card__info-first h3 {
  color: #252525;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

.card__info-last h3 {
  color: #dc582a;
  /* Headings/h3 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%; /* 27.305px */
}

.share__container {
  display: flex;
  gap: 10px;
}

.star_rating {
  color: #adadad;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__info-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.star_rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.star_rating img {
  width: 16px;
  height: 16px;
}

.share__container img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

/* xs */
/* @media (max-width: 475px){
} */

/* sm */
/* @media (max-width: 640px){
} */

/* md */
@media (max-width: 768px) {
  .recipe__recipe-grid {
    justify-content: center;
    gap: 40px;
  }
  .card {
    width: 269px;
  }
  .card img {
    width: 269px;
    height: 200px;
  }
  .recipe {
    margin-inline: 8vw;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
  }
}

/* lg */
/* @media (max-width: 1024px) {
} */

/* xL */
@media (max-width: 1270px) {
  .recipe {
    flex-direction: column;
  }
  .recipe__filter {
    margin-bottom: 4vh;
  }
  .share__container {
    display: none;
  }
  .star_rating {
    display: none;
  }
}

/* 2xL */
/* @media (max-width: 1536px) {
} */
